<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>UltimateMathCompanion</title>

    <script src="form.js"></script>
    <link rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS"
          crossorigin="anonymous">
    <script th:inline="javascript">
        // If SERVER-SIDE validation failed, then formatIsValid is False.
        // Hence, page is restarted and this code will show alert().
        const formatIsValid = [[${formatIsValid}]];
        window.onload = function() {
            if (!formatIsValid)
                createErrorAlert();
        };
    </script>
</head>
<body>
<div class="container">
    <div class="d-flex vh-100">
        <div class="d-flex w-100 justify-content-center align-self-center">
            <div class="jumbotron w-50">
                <p class="h4 mb-4" th:align="center">Save Expression</p>

                <form th:action="@{/save}" th:object="${theExpression}" method="post">

                    <input type="hidden" th:field="*{id}">
                    <input class="form-control mb-4" type="text" th:field="*{expression}"
                           placeholder="2 + 2 / 4 - 8 + 100 * 2">

                    <div th:align="center">
                        <a th:href="@{/}" class="btn btn-danger col-5">Back</a>
                        <button type="submit" class="btn btn-success col-5">Save</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>