<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>UltimateMathCompanion</title>
    <script src="mainScript.js"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<div class="container">

    <a th:href="@{/addExpression}" class="btn btn-danger">Add</a>

    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <th>№</th>
            <th>Expression</th>
            <th>Answer</th>
            <th>Date</th>
            <th>Type</th>
            <th>Complexity</th>
            <th></th>
        </thead>
        <tbody>
            <tr th:each="tempExpression, expressionStat: ${theExpression}"
                th:onclick="'selectRow(this);'">
                <td th:text="${expressionStat.count}"/>
                <td th:text="${tempExpression.expression}"/>
                <td th:text="${tempExpression.answer}"/>
                <td th:text="${tempExpression.date}"/>
                <td th:text="${tempExpression.expressionTypes.getType()}"/>
                <td th:text="${tempExpression.expressionTypes.expressionComplexity.getDescription()}"/>
                <td th:align="center">
                    <a th:href="@{/updateExpression(id=${tempExpression.getId()})}" class="btn btn-dark">Update</a>
                    <a th:href="@{/deleteExpression(id=${tempExpression.getId()})}" class="btn btn-dark"
                       onclick="if (!(confirm('Are you sure you want to delete this?'))) return false">
                        Delete
                    </a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
</body>
</html>