$color-section: #fafafa;
$color-title-1: #40424a;
$color-title-2: #4f5259;
$color-description: #6e7382;
$font-name: 'Nunito Sans', sans-serif;
$font-size-section: 1.0rem;

.section {
  background-color: $color-section;
  width: 70%;
  margin: 3vh auto 3vh auto;
  text-align: center;
  font-size: $font-size-section;
  transition: 0.6s;

  &__hidden {
    opacity: 0;
    transform: translateY(4rem);
  }

  &__title {
    color: $color-title-1;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  &__sub__title {
    color: $color-title-2;
    padding-top: 1rem;
    padding-bottom: 1rem;
  }

  &__description {
    color: $color-description;
    padding-left: 7rem;
    padding-right: 7rem;
  }

  &__image {
    width: 25vh;
    height: 20vh;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
}

.lazy-img {
  filter: blur(20px);
}